### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
#purchase_data_df.head()

## Player Count

* Display the total number of players

In [2]:
#Count unique players in column SN
unique_number_df = len(purchase_data_df["SN"].unique())
unique_number_df

number_players_df = pd.DataFrame({
    "Total Players":[unique_number_df]
})
number_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of unique items
unique_item_df = len(purchase_data_df["Item Name"].unique())
unique_item_df

#Average purchase price 
average_price_df = purchase_data_df["Price"].mean()
average_price_df

#Total number of purchases
number_purchases_df = purchase_data_df["Purchase ID"].count()
number_purchases_df

#Total revenue 
total_revenue_df = purchase_data_df["Price"].sum()
total_revenue_df

#Summary data frame
purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items":[unique_item_df]
    ,"Average Price":[average_price_df]
    ,"Number of Purchases":[number_purchases_df]
    ,"Total Revenue":[total_revenue_df]
})

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Set index by Gender
purchase_data_index_df = purchase_data_df.set_index("Gender")

#Filter male players
male_gender_df = purchase_data_index_df.loc[["Male"]]
male_gender_df

#Count of unique males
male_gender_count_df = len(male_gender_df["SN"].unique())
male_gender_count_df

#Percentage of male players
male_gender_percent_df = (male_gender_count_df / unique_number_df)*100
male_gender_percent_df

##

#Filter female players
female_gender_df = purchase_data_index_df.loc[["Female"]]
female_gender_df

#Count of unique females
female_gender_count_df = len(female_gender_df["SN"].unique())
female_gender_count_df

#Percentage of female players
female_gender_percent_df = (female_gender_count_df / unique_number_df)*100
female_gender_percent_df

##

#Filter Other / Non-Disclosed players
other_gender_df = purchase_data_index_df.loc[["Other / Non-Disclosed"]]
other_gender_df

#Count of unique Other / Non-Disclosed players
other_gender_count_df = len(other_gender_df["SN"].unique())
other_gender_count_df

#Percentage of female players
other_gender_percent_df = (other_gender_count_df / unique_number_df)*100
other_gender_percent_df

##

#Summary Gender Demographics data frame 
gender_demographics_df=pd.DataFrame({
    " " : ["Male", "Female", "Other / Non-Disclosed"]
    ,"Total Count" : [male_gender_count_df, female_gender_count_df, other_gender_count_df]
    ,"Percentage of Players" : [male_gender_percent_df, female_gender_percent_df, other_gender_percent_df]
})

gender_demographics_df["Percentage of Players"]=gender_demographics_df["Percentage of Players"].map("{:,.2f}%".format)

gender_demographics_df

                          Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Male Purchasing Analysis
#Males: purchase count
male_purchase_count_df = male_gender_df["Purchase ID"].count()
male_purchase_count_df

#Males: average purchase price
male_average_price_df = male_gender_df["Price"].mean()
male_average_price_df

#Males: total purchase value
male_total_value_df = male_gender_df["Price"].sum()
male_total_value_df

#Males: avg purchase total per person = (avg price)/(# male players)
male_avg_total_df = male_total_value_df / len(male_gender_df["SN"].unique())
male_avg_total_df

########
#Female Purchasing Analysis
#Females: purchase count
female_purchase_count_df = female_gender_df["Purchase ID"].count()
female_purchase_count_df 

#Females: average purchase price
female_average_price_df = female_gender_df["Price"].mean()
female_average_price_df

#Females: total purchase value
female_total_value_df = female_gender_df["Price"].sum()
female_total_value_df

#Females: avg purchase total per person = (avg price)/(# female players) 
female_avg_total_df = female_total_value_df / len(female_gender_df["SN"].unique())
female_avg_total_df

########
#Other / Non-Disclosed Purchasing Analysis
#Other: purchase count
other_purchase_count_df = other_gender_df["Purchase ID"].count()
other_purchase_count_df 

#Other: average purchase price 
other_average_price_df = other_gender_df["Price"].mean()
other_average_price_df

#Other: total purchase value
other_total_value_df = other_gender_df["Price"].sum()
other_total_value_df

#Other: avg purchase total per person = (avg price)/(# other players) 
other_avg_total_df = other_total_value_df / len(other_gender_df["SN"].unique())
other_avg_total_df

#########
#Summary Data Frame: Purchasing Analysis (Gender)
purchasing_analysis_gender_df = pd.DataFrame({
    "Gender": ["Female", "Male", "Other / Non-Disclosed"]
    ,"Purchase Count":[female_purchase_count_df, male_purchase_count_df, other_purchase_count_df]
    ,"Average Purchase Price":[female_average_price_df, male_average_price_df, other_average_price_df]
    ,"Total Purchase Value":[female_total_value_df, male_total_value_df, other_total_value_df]
    ,"Average Total Purchase per Person":[female_avg_total_df, male_avg_total_df, other_avg_total_df]
})

purchasing_analysis_gender_df["Average Purchase Price"] = purchasing_analysis_gender_df["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_gender_df["Total Purchase Value"] = purchasing_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_gender_df["Average Total Purchase per Person"] = purchasing_analysis_gender_df["Average Total Purchase per Person"].map("${:,.2f}".format)

purchasing_analysis_gender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Min and Max player age
purchase_data_df["Age"].min()
purchase_data_df["Age"].max()

#Data Frame with only unique players
unique_players_df = purchase_data_df.drop_duplicates("SN")
unique_players_df

#Establish bins for ages
bins = [7, 9, 14, 19, 24, 29, 34, 39, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
unique_players_df["Age Groups"] = pd.cut(unique_players_df["Age"], bins, labels=group_names, include_lowest=True)
unique_players_df

#Calculate the numbers and percentages by age group
numbers_by_age_df = unique_players_df.groupby("Age Groups")
count_by_age_df = numbers_by_age_df["SN"].count()
count_by_age_df

#Percentage by age group 
percent_by_age_df = (numbers_by_age_df["SN"].count()) / (unique_players_df["Age"].count())*100
percent_by_age_df

merge_df = pd.merge(count_by_age_df, percent_by_age_df, on="Age Groups", how="outer")
merge_df = merge_df.rename(columns={
    "Age Groups":" "
    ,"SN_x":"Total Count"
    ,"SN_y":"Percentage of Players"
})

merge_df["Percentage of Players"] = merge_df["Percentage of Players"].map('{:,.2f}%'.format)
merge_df

/Users/medinai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Establish bins for ages
bins = [7, 9, 14, 19, 24, 29, 34, 39, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_analysis_data_df = purchase_data_df.copy()
purchase_analysis_data_df["Age Groups"] = pd.cut(purchase_analysis_data_df["Age"], bins, labels=group_names, include_lowest=True)
purchase_analysis_data_df

#Grouping by age group
all_by_age_df = purchase_analysis_data_df.groupby("Age Groups")

#Purchase count by age group
purchase_count_by_age = all_by_age_df["Purchase ID"].count()
purchase_count_by_age

#Average purchase price by age group
average_price_by_age = all_by_age_df["Price"].mean()
average_price_by_age

#Total purchase value by age group
total_value_by_age = all_by_age_df["Price"].sum()
total_value_by_age

#Average purchase total per person by age group *****NEEEDS ROUNDING*****
avg_total_by_age = (all_by_age_df["Price"].sum()) / (numbers_by_age_df["SN"].count()) 
avg_total_by_age

#Summary Data Frame
age_demographics_df = pd.DataFrame({
    "Purchase Count": purchase_count_by_age,
    "Average Purchase Price":average_price_by_age,
    "Total Purchase Value":total_value_by_age,
    "Average Total Purchase per Person":avg_total_by_age
})

age_demographics_df["Average Purchase Price"]=age_demographics_df["Average Purchase Price"].map('${:,.2f}'.format)
age_demographics_df["Total Purchase Value"]=age_demographics_df["Total Purchase Value"].map('${:,.2f}'.format)
age_demographics_df["Average Total Purchase per Person"]=age_demographics_df["Average Total Purchase per Person"].map('${:,.2f}'.format)

age_demographics_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
user_total = purchase_data_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_total

user_mean = purchase_data_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_mean

user_count = purchase_data_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")
user_count

top_spenders_df = pd.DataFrame({
    "Purchase Count" : user_count,
    "Average Purchase Price" : user_mean,
    "Total Purchase Value" : user_total
})

#Sort on Total Purchase Value
final_top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)

#Formatting
final_top_spenders_df["Average Purchase Price"]=final_top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
final_top_spenders_df["Total Purchase Value"]=final_top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

final_top_spenders_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
#Group by Item ID and Item Name
group_by_purchase = purchase_data_df.groupby(["Item ID", "Item Name"])

#Total Purchase Value for each item
group_by_purchase.sum()['Price'].rename('total')

#Item Price
group_by_purchase.mean()['Price'].rename("Price")

#Purchase count
group_by_purchase.count()['Price'].rename("count")

#Summary data frame
popular_items_df = pd.DataFrame({
    "Purchase Count" : group_by_purchase.count()['Price'].rename("count")
    ,"Item Price": group_by_purchase.mean()['Price'].rename("Price")
    ,"Total Purchase Value": group_by_purchase.sum()['Price'].rename('total')
})

popular_items_df = popular_items_df.sort_values("Purchase Count", ascending=False)

popular_items_df["Item Price"]=popular_items_df["Item Price"].map("${:,.2f}".format)
popular_items_df["Total Purchase Value"]=popular_items_df["Total Purchase Value"].map("${:,.2f}".format)
popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame