### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Count unique players in column SN
unique_number_df = len(purchase_data_df["SN"].unique())
unique_number_df

number_players_df = pd.DataFrame({
    "Total Players":[unique_number_df]
})
number_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Number of unique items
unique_item_df = len(purchase_data_df["Item Name"].unique())
unique_item_df

#Average purchase price ******HOW DO I ROUND??? + DOLLAR SIGN*****
average_price_df = purchase_data_df["Price"].mean()
average_price_df

#Total number of purchases
number_purchases_df = purchase_data_df["Purchase ID"].count()
number_purchases_df

#Total revenue *****DOLLAR SIGN NEEDED***********
total_revenue_df = purchase_data_df["Price"].sum()
total_revenue_df

#Summary data frame
purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items":[unique_item_df]
    ,"Average Price":[average_price_df]
    ,"Number of Purchases":[number_purchases_df]
    ,"Total Revenue":[total_revenue_df]
})
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [46]:
#Set index by Gender
purchase_data_index_df = purchase_data_df.set_index("Gender")

#Filter male players
male_gender_df = purchase_data_index_df.loc[["Male"]]
male_gender_df

#Count of unique males
male_gender_count_df = len(male_gender_df["SN"].unique())
male_gender_count_df

#Percentage of male players
male_gender_percent_df = (male_gender_count_df / unique_number_df)*100
male_gender_percent_df

##

#Filter female players
female_gender_df = purchase_data_index_df.loc[["Female"]]
female_gender_df

#Count of unique females
female_gender_count_df = len(female_gender_df["SN"].unique())
female_gender_count_df

#Percentage of female players
female_gender_percent_df = (female_gender_count_df / unique_number_df)*100
female_gender_percent_df

##

#Filter Other / Non-Disclosed players
other_gender_df = purchase_data_index_df.loc[["Other / Non-Disclosed"]]
other_gender_df

#Count of unique Other / Non-Disclosed players
other_gender_count_df = len(other_gender_df["SN"].unique())
other_gender_count_df

#Percentage of female players
other_gender_percent_df = (other_gender_count_df / unique_number_df)*100
other_gender_percent_df

##

#Summary Gender Demographics data frame ****NEEDS ROUNDING AND %******  .round(2).astype(str) + '%'
gender_demographics_df=pd.DataFrame({
    " " : ["Male", "Female", "Other / Non-Disclosed"]
    ,"Total Count" : [male_gender_count_df, female_gender_count_df, other_gender_count_df]
    ,"Percentage of Players" : [male_gender_percent_df, female_gender_percent_df, other_gender_percent_df]
})
gender_demographics_df

                          Total Count  Percentage of Players
0                   Male          484              84.027778
1                 Female           81              14.062500
2  Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
#Male Purchasing Analysis
#Males: purchase count
male_purchase_count_df = male_gender_df["Purchase ID"].count()
male_purchase_count_df

#Males: average purchase price
male_average_price_df = male_gender_df["Price"].mean()
male_average_price_df

#Males: total purchase value
male_total_value_df = male_gender_df["Price"].sum()
male_total_value_df

#Males: avg purchase total per person = (avg price)/(# male players)
male_avg_total_df = male_total_value_df / len(male_gender_df["SN"].unique())
male_avg_total_df

########
#Female Purchasing Analysis
#Females: purchase count
female_purchase_count_df = female_gender_df["Purchase ID"].count()
female_purchase_count_df 

#Females: average purchase price
female_average_price_df = female_gender_df["Price"].mean()
female_average_price_df

#Females: total purchase value
female_total_value_df = female_gender_df["Price"].sum()
female_total_value_df

#Females: avg purchase total per person = (avg price)/(# female players) *****THIS NEEEDS ROUNDING****
female_avg_total_df = female_total_value_df / len(female_gender_df["SN"].unique())
female_avg_total_df

########
#Other / Non-Disclosed Purchasing Analysis
#Other: purchase count
other_purchase_count_df = other_gender_df["Purchase ID"].count()
other_purchase_count_df 

#Other: average purchase price **********NEEDS ROUNDING******
other_average_price_df = other_gender_df["Price"].mean()
other_average_price_df

#Other: total purchase value
other_total_value_df = other_gender_df["Price"].sum()
other_total_value_df

#Other: avg purchase total per person = (avg price)/(# other players) *****THIS NEEEDS ROUNDING****
other_avg_total_df = other_total_value_df / len(other_gender_df["SN"].unique())
other_avg_total_df

#########
#Summary Data Frame: Purchasing Analysis (Gender)
purchasing_analysis_gender_df = pd.DataFrame({
    " ":["Gender", "Female", "Male", "Other / Non-Disclosed"]
    ,"Purchase Count":[" ", female_purchase_count_df, male_purchase_count_df, other_purchase_count_df]
    ,"Average Purchase Price":[" ", female_average_price_df, male_average_price_df, other_average_price_df]
    ,"Total Purchase Value":[" ", female_total_value_df, male_total_value_df, other_total_value_df]
    ,"Average Total Purchase per Person":[" ", female_avg_total_df, male_avg_total_df, other_avg_total_df]
})
purchasing_analysis_gender_df

,,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Gender,,,,
1,Female,113,3.20301,361.94,4.4684
2,Male,652,3.01785,1967.64,4.06537
3,Other / Non-Disclosed,15,3.346,50.19,4.56273

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame